<div class="container mt-4">

  <% if flash[:notice] != nil %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center">
      <%= image_tag 'images.png', alt: 'Example Image', class: 'img-fluid mr-3' %>  
    </div>
    <div class="m-5  d-flex justify-content-center "> <p class="fs-2"> Write Your Blogs and Share  </p> </div>
    <div class="m-5  d-flex justify-content-center "> <p class="fs-3">  hey wanna learn about something go ahead and read Articles  </p> </div>

    <div class="m-5  d-flex justify-content-center "> 
        <%= button_to "SignUp", "/ads" , class: "btn btn-success btn-lg", method: :get %>
    </div>


</div>